<md-content layout="column" flex class="mdc-bg-blue-grey-200" id="login">
    <md-toolbar class="mdc-bg-blue-grey-800">
        <div class="md-toolbar-tools">
            <img src="images/higgs-field.png" class="animated fadeInDown"/>
        </div> <!-- end .md-toolbar-tools -->
    </md-toolbar>

    <div layout="row" layout-wrap>
        <div flex="33" offset="33">
            <md-card id="login-form" class="animated fadeInUp">
                <md-card-content ng-show="!createAccount">
                    <h2 class="text-center mdc-text-blue-grey-600 font-weight-300 no-margin">Login</h2>

                    <form>
                        <md-input-container>
                            <label>Username</label>

                            <input class="" type="text" autofocus required ng-model="loginForm.username"/>
                        </md-input-container>

                        <md-input-container>
                            <label>Password</label>

                            <input class="" type="password" ng-model="loginForm.password" required/>
                        </md-input-container>

                        <p class="text-center no-margin">
                            <a href="" class="mdc-text-teal-400" ng-click="createAccount = true">
                                first time?
                            </a>
                        </p>

                        <md-button class="md-fab mdc-bg-teal-A200 align-right" aria-label="Login" ng-click="authenticate()">
                            <md-icon class="mdc-text-blue-grey-800">
                                check
                            </md-icon>
                        </md-button>
                    </form>
                </md-card-content>

                <md-card-content ng-show="createAccount">
                    <h2 class="text-center mdc-text-blue-grey-600 font-weight-300 no-margin">Create Account</h2>

                    <form>
                        <md-input-container>
                            <label>Username</label>

                            <input class="" type="text" autofocus required ng-model="addUserForm.username"/>
                        </md-input-container>

                        <md-input-container>
                            <label>Password</label>

                            <input class="" type="password" ng-model="addUserForm.password" required/>
                        </md-input-container>

                        <md-input-container>
                            <label>Confirm Password</label>

                            <input class="" type="password" ng-model="addUserForm.confirm" required/>
                        </md-input-container>

                        <p class="text-center no-margin">
                            <a href="" ng-click="createAccount = false" class="mdc-text-teal-400">
                                back to login
                            </a>
                        </p>

                        <md-button class="md-fab mdc-bg-teal-A200 align-right" aria-label="Login" ng-click="addUser()">
                            <md-icon class="mdc-text-blue-grey-800">
                                check
                            </md-icon>
                        </md-button>
                    </form>
                </md-card-content>
            </md-card>
        </div> <!-- end flex 33 -->
    </div> <!-- end row -->
</md-content>
