html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

.md-toolbar-tools h1 {
    font-size: inherit;
    font-weight: inherit;
    margin: inherit;
}

md-sidenav.md-locked-open {
    width: 200px !important;
    min-width: 200px !important;
    max-width: 200px !important;
}

md-sidenav header {
    height: 100px;
}

md-toolbar {
    height: 110px;
    color: #546e7a !important;
}

a {
    text-decoration: none;
}

.font-weight-100 {
    font-weight: 100;
}

.font-weight-300 {
    font-weight: 300;
}

.font-weight-500 {
    font-weight: 500;
}

ul.lined-list,
ul.no-line-list {
    padding: 0;
    margin: 0;
}

ul.lined-list li,
ul.no-line-list li {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

ul.lined-list li {
    border-bottom: 1px solid #B2DFDB;
}

ul.lined-list li:last-of-type {
    border-bottom: none;
}

.max-view-height {
    max-height: 90%;
    max-height: 90vh;
    overflow-y: scroll;
}

.eighty-five-view-height {
    max-height: 85%;
    max-height: 85vh;
    overflow-y: scroll;
}

.align-left {
    float: left;
}

.align-center {
    display: block;
    margin: auto;
}

.align-right {
    float: right;
}

.text-center {
    text-align: center;
}

.no-margin {
  margin: 0;
}

input,
.md-select-value *:first-child {
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 1px solid #D8D8D8;
    border-radius: 0px;
}

.full-width {
  width: 100%;
}

.block {
    display: block;
}
