<!doctype html>

<!--[if lt IE 7]>      <html lang="en" ng-app="coastal" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="coastal" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="coastal" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="higgs" class="no-js"> <!--<![endif]-->

	<head>
		<title>Higgs Field</title>

		<!-- meta -->
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta name="description" content="Micro Service Management System">

    <!-- Add to homescreen for Chrome on Android -->
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="icon" sizes="192x192" href="images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="Material Design Lite">
        <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
        <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
        <meta name="msapplication-TileColor" content="#3372DF">

    <!-- favicon -->
        <link rel="shortcut icon" href="images/favicon.png" />

		<!-- css -->
			<!-- typefaces -->
			<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Roboto:500,900,400italic,100,300,700,500italic,100italic,300italic,400' rel='stylesheet' type='text/css'>
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

			<!-- angular material -->
            <link rel="stylesheet" href="node_modules/angular-material/angular-material.css">

            <!-- material design color palette -->
            <link rel="stylesheet" href="node_modules/material-design-color-palette/css/material-design-color-palette.css">

			<!-- higgs -->
			<link rel="stylesheet" href="higgs.css">
	</head>

	<body layout="column">
        <!-- <md-toolbar>
            <div class="md-toolbar-tools mdc-bg-blue-grey-900">
                <md-button ng-click="vm.toggleSidenav('left')" hide-gt-sm class="md-icon-button">
                    <md-icon aria-label="Menu" class="material-icons">
                        menu
                    </md-icon>
                </md-button>
            </div>
        </md-toolbar> -->

        <div layout="row" flex>
            <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2 mdc-bg-blue-grey-800" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')"  ng-show="true">
                <header class="nav-header">
                    <a href="#/home" alt="Higs Field">
                        <h1 class="text-center mdc-text-teal-A200 font-weight-500">
                            Higgs Field
                        </h1>
                    </a>
                </header>

                <a href="#/microservice/{{ service.id }}" ng-repeat="service in services | filter:searchQuery">
                    <md-button class="mdc-text-blue-grey-200">
                        <md-icon aria-label="Dashboard" class="text-center mdc-text-{{ service.color }}-300 material-icons">
                            dashboard
                        </md-icon>
                        {{ service.microserviceName }}
                    </md-button>
                </a>

                <a href="#/add">
                    <md-button class="mdc-text-blue-grey-200">
                        <md-icon aria-label="Add" class="text-center mdc-text-blue-grey-200 material-icons">
                            add
                        </md-icon>
                        New Service
                    </md-button>
                </a>

				<a href="#/login">
	                <md-button class="mdc-text-blue-grey-200">
	                    <md-icon aria-label="Login" class="text-center mdc-text-blue-grey-200 material-icons">
	                        verified_user
	                    </md-icon>
	                    Login
	                </md-button>
				</a>
            </md-sidenav>

            <div layout="column" flex id="content" ng-view>
                <!-- content -->
            </div> <!-- end #content -->
        </div> <!-- end .row -->

        <!-- js -->
          <!-- angularjs -->
          <script src="node_modules/angular/angular.js"></script>

          <!-- angular community modules -->
    	  		<script src="node_modules/angular-route/angular-route.js"></script>
    			<script src="node_modules/angular-resource/angular-resource.js"></script>
                <script src="node_modules/angular-animate/angular-animate.js"></script>
                <script src="node_modules/angular-aria/angular-aria.js"></script>

    			<!-- angular material -->
    			<script src="node_modules/angular-material/angular-material.js"></script>

          <!-- higs modules -->
            <!-- app -->
            <script src="higgs.js"></script>

            <!-- pages -->
			<script src="pages/login/login.js"></script>
            <script src="pages/home/home.js"></script>
			<script src="pages/add/add.js"></script>
			<script src="pages/microservice/microservice.js"></script>

    			<!-- elements -->
    </body>
</html>
