<div class="mdl-grid demo-content">
    <!-- <h4 class="mdl-color-text--blue-grey-100 text-center">Add New Microservice</h4> -->

    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--6-col-desktop mdl-color--grey-100">
      <form>
        <ul class="no-line-list">
          <li class="mdl-grid">
              <div class="mdl-cell mdl-cell--4-col mdl-color-text--blue-grey-800">
                  Microservice Name
              </div>

              <div class="mdl-cell mdl-cell--8-col">
                  <input class="mdl-textfield__input mdl-color-text--{{ service.color }}-900" type="text" ng-model="service.microserviceName" />
              </div>
          </li>

          <li class="mdl-grid">
              <div class="mdl-cell mdl-cell--2-col mdl-color-text--blue-grey-800">
                  Color
              </div>

              <div class="mdl-cell mdl-cell--10-col">
                  <select class="full-width mdl-color-text--{{ service.color }}-900" ng-model="service.color">
                      <option value="" selected></option>
                      <option value="red">Red</option>
                      <option value="pink">Pink</option>
                      <option value="purple">Purple</option>
                      <option value="deep-purple">Deep Purple</option>
                      <option value="indigo">Indigo</option>
                      <option value="blue">Blue</option>
                      <option value="light-blue">Light Blue</option>
                      <option value="cyan">Cyan</option>
                      <option value="teal">Teal</option>
                      <option value="green">Green</option>
                      <option value="light-green">Light Green</option>
                      <option value="lime">Lime</option>
                      <option value="yellow">Yellow</option>
                      <option value="amber">Amber</option>
                      <option value="orange">Orange</option>
                      <option value="deep-orange">Deep Orange</option>
                      <option value="brown">Brown</option>
                      <option value="grey">Grey</option>
                      <option value="blue-grey">Blue Grey</option>
                  </select>
              </div>
          </li>

          <li class="mdl-grid">
              <div class="mdl-cell mdl-cell--2-col mdl-color-text--blue-grey-800">
                  DB Type
              </div>

              <div class="mdl-cell mdl-cell--10-col">
                <select class="full-width mdl-color-text--{{ service.color }}-900" ng-model="service.type">
                  <option value="" selected></option>
                  <option value="mysql">MySQL</option>
                  <option value="oracle">Oracle</option>
                  <option value="ms-sql">Microsoft SQL</option>
                  <option value="sqlite">SQLite</option>
                </select>
              </div>

            <li class="mdl-grid">
                  <div class="mdl-cell mdl-cell--2-col mdl-color-text--blue-grey-800">
                      DB Name
                  </div>

                  <div class="mdl-cell mdl-cell--10-col">
                      <input class="mdl-textfield__input mdl-color-text--{{ service.color }}-900" type="text" ng-model="service.dbName" />
                  </div>
            </li>

          <li class="mdl-grid">
              <div class="mdl-cell mdl-cell--2-col mdl-color-text--blue-grey-800">
                  Host
              </div>

              <div class="mdl-cell mdl-cell--6-col">
                  <input class="mdl-textfield__input mdl-color-text--{{ service.color }}-900" type="text" ng-model="service.host" />
              </div>

              <div class="mdl-cell mdl-cell--1-col mdl-color-text--blue-grey-800">
                  Port
              </div>

              <div class="mdl-cell mdl-cell--3-col">
                  <input class="mdl-textfield__input mdl-color-text--{{ service.color }}-900" type="number" ng-model="service.port" />
              </div>
          </li>

          <li class="mdl-grid">
              <div class="mdl-cell mdl-cell--2-col mdl-color-text--blue-grey-800">
                  Username
              </div>

              <div class="mdl-cell mdl-cell--10-col">
                  <input class="mdl-textfield__input mdl-color-text--{{ service.color }}-900" type="text" ng-model="service.username" />
              </div>
          </li>

          <li class="mdl-grid">
              <div class="mdl-cell mdl-cell--2-col mdl-color-text--blue-grey-800">
                  Password
              </div>

              <div class="mdl-cell mdl-cell--10-col">
                  <input class="mdl-textfield__input mdl-color-text--{{ service.color }}-900" type="password" ng-model="service.password" />
              </div>
          </li>
        </ul>
      </form>

      <div class="mdl-card__actions mdl-card--border mdl-color--{{ service.color }}-800">
          <a href="" ng-click="deleteService()" class="mdl-button mdl-js-button mdl-js-ripple-effect  mdl-color-text--grey-100"><i class="material-icons">delete</i> Delete</a>

          <a href="" ng-click="updateService()" class="mdl-button mdl-js-button mdl-js-ripple-effect align-right mdl-color-text--grey-100"><i class="material-icons">save</i> Update</a>
      </div>
    </div>

    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--6-col-desktop mdl-color--{{ service.color }}-700" ng-repeat="endPoint in endPoints">
        <div class="mld-grid">
            <div class="mld-cell mdl-cell--4-col">
                <h6>{{ endPoint.route }}</h6>
            </div> <!-- end .mld-cell--4-col -->

            <div class="mld-cell mdl-cell--4-col">
                <h6>{{ endPoint.httpVerb }}</h6>
            </div> <!-- end .mld-cell--4-col -->

            <div class="mld-cell mdl-cell--4-col">
                <h6>{{ endPoint.sql }}</h6>
            </div> <!-- end .mld-cell--4-col -->
        </div> <!-- end .mdl-grid -->
    </div> <!-- end .mdl-card -->
</div>
